<!doctype html>
<html lang="en" class="h-100">
  <head>
        <title>Synthesized Mods Calculator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/custom.css">
        <style>
            ul, li{
                font-size:small;
            }
            ul{
                margin:0;
                padding-top:5px;
                padding-bottom:5px;
            }
            ul > li{
                padding-left:27px;
                background-repeat: no-repeat;
                background-position: left top;
                background-size: 27px;
            }
            ul > li li{
                padding-left:0;
            }
            ul ul{
                list-style:none;
                padding-left:0px;
                border-top: 1px solid #bbb;
            }
            .tier{
                float:right;
                padding-right:5px;
                font-size:smaller;
            }
            .mod{
                color:#f7f7f7;
                font-size:smaller;
            }
            #possibleMods > li{
                margin-bottom: 5px;
            }
            body{
                overflow:hidden;
            }
            li.Fractured{
                background-image: url(https://web.poecdn.com/image/item/popup/fractured-symbol.png?1552274277000);
            }
        </style>
    </head>
    <body class="">
                    <ul id="possibleMods">
                            <% results.forEach(function(mod) { %>
                                <li class="<%=(mod.mod.fractured ? 'Fractured' : '')%>">
                                    <span class='mod'><%= mod.mod.modText %> </span>
                                    <span class='tier'>Tier <%= mod.recipe.Tier %></span>
                                    <ul class="<%=(mod.recipe.TopTier ? 'TopTier' : '') %>">
                                        <% mod.recipe.result.forEach(function(result) { %>
                                            <li> <%= result %></li>
                                        <% }); %>
                                    </ul>
                                </li>
                            <% }); %>
                    </ul>

    </body>
</html>
