<!doctype html>
<html lang="en" class="h-100">
  <head>
        <title>Synthesized Mods Calculator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/custom.css">
        <style>
            ul, li{
                font-size:small;
            }
            ul{
                padding-left: 27px;
            }
            ul ul{
                list-style:none;
                padding-left:0px;
            }
        </style>
    </head>
    <body class="d-flex flex-column h-100">
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <div class="row">
                    <ul id="possibleMods">
                            <% results.forEach(function(mod) { %>
                                <li class="<%=(mod.mod.fractured ? 'Fractured' : '')%>">
                                    <span class='mod'><%= mod.mod.modText %> </span>
                                    <span class='tier'>Tier <%= mod.recipe.Tier %></span>
                                    <ul class="<%=(mod.recipe.TopTier ? 'TopTier' : '') %>">
                                        <% mod.recipe.result.forEach(function(result) { %>
                                            <li> <%= result %></li>
                                        <% }); %>
                                    </ul>
                                </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
        </main><script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script>
            window.resizeTo(300,$("main").height() + 50);
        </script>
    </body>
</html>
